.navbar-header li:not(:first-child) {
    margin-top: 0;
}

.navbar-header li:not(:last-child) {
    margin-right: 1.25rem;
}

.navbar-footer li {
    margin-left: 1rem;
    margin-right: 1rem;
}

.footer-copyright a:hover {
    text-decoration: underline;
    color: #03A9F4;
}

.footer-icon-list a:not(:last-child) {
    margin-right: 0.75rem;
}

.btn-primary:hover {
    background-color: #718096,
}

.footer-icon-list a:hover {
    color: #4a5568;
}